.container
  %table.main_table
    %tr
      %td
        %table
          %tr
            %td.profile_background
              %table.edit_profile_background
                %tr
                  %td.edit_profile
                    %table
                      %tr
                        %td.pencil_icon
                          = image_tag("Pencil.png")
                        %td
                          %p.edit_profile_text  Edit Profile
                        %td
                          %table.profile_complete_text
                            %tr
                              %td
                                %p.profile_completed profile completed
                              %td#profile_complete
                                .progress{:style => "width:400px;"}
                                  .bar{:style => "width: 0%;"}
  %br/
  %table
    %tr
      %td
        %table.profile_background_1
          %tr
            %td.Personal
              %p Personal
          %tr
            %td.profile_data
              = form_for(@profile,url: user_profile_path(current_user),html: {class: 'form-horizontal', multipart: 'true'}) do |f|
                %table.profile_data
                  %tr.profile
                    %td.odd First Name
                    %td.even
                      = f.text_field :first_name, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Last Name
                    %td.even
                      = f.text_field :last_name, :label => false
                  %tr.profile
                    %td.odd Phone Number
                    %td.even
                      = f.text_field :phone_number, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Birthday
                    %td.even
                      = f.text_field :birth_day, :id => "dt5", :label => false
                  %tr.profile
                    %td.odd Professional Headline
                    %td.even
                      = f.text_field :professional_headline, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Location
                    %td.even
                      = f.text_field :location, :label => false
                  %tr.profile
                    %td.odd City
                    %td.even
                      = f.text_field :city, :size => 90, :label => false
                  %tr.profile
                    %td.odd State
                    %td.even
                      = f.text_field :state, :label => false
                  %tr.profile
                    %td.odd Interests
                    %td.even
                      = f.text_area(:interests, :size => "2x3")

                %br/
                = f.submit "Save", :id => "save"
      %td.space_in_profile
      %td
        %table.profile_background_2
          %tr
            %td.Personal
              %p Professional
          %tr
            %td.profile_data
              = form_for(@profile,url: user_profile_path(current_user),html: {class: 'form-horizontal', multipart: 'true'}) do |f|
                %table.profile_data
                  %tr.profile
                    %td.odd First Name
                    %td.even
                      = f.text_field :first_name, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Last Name
                    %td.even
                      = f.text_field :last_name, :label => false
                  %tr.profile
                    %td.odd Phone Number
                    %td.even
                      = f.text_field :phone_number, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Birthday
                    %td.even
                      = f.text_field :birth_day, :id => "dt5", :label => false
                  %tr.profile
                    %td.odd Professional Headline
                    %td.even
                      = f.text_field :professional_headline, :size => 90, :label => false
                  %tr.profile
                    %td.odd1 Location
                    %td.even
                      = f.text_field :location, :label => false
                  %tr.profile
                    %td.odd City
                    %td.even
                      = f.text_field :city, :size => 90, :label => false
                  %tr.profile
                    %td.odd State
                    %td.even
                      = f.text_field :state, :label => false
                  %tr.profile
                    %td.odd Interests
                    %td.even
                      = f.text_area(:interests, :size => "2x3")

                %br/
                -#= f.submit "Save", :id => "save"
  %table.table_footer
    %tr
      %td.footer_middle
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
:javascript
  $(function(){
   $('#dt5').datepicker()
   });
:javascript
  $(window).load(function(){
  var progress = setInterval(function() {
      var $bar = $('.bar');

      if ($bar.width()==400) {
          clearInterval(progress);
          $('.progress').removeClass('active');
      } else {
          $bar.width("#{@profile.complete_percentage}"* 4);
      }
      $bar.text("#{@profile.complete_percentage}" + "%");
  }, 800);


  });



