<h1>hello world</h1>
<%= form_for(@profile, url: about_update_user_profile_path, :remote => true) do |f| %>
    <% unless @profile.about!="nil" %>
        <%= f.text_area :about, :rows => 2, :cols => 50 %>
    <% else %>
        <div class="profile_text" style="display: block; color:white;">
        <%= @profile.about %>
        </div>
        <div class="profile_text2" style="display: none;">
          <%= f.text_area :about, :rows => 2, :cols => 50 %>
        </div>
        <%end %>

    <%=  f.submit %>
<% end %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
   $('.profile_text').click(function(){

      $('.profile_text').css('display', 'none');
      $('.profile_text2').css('display', 'block');
   });
   </script>

