<%= form_for(@profile, url: about_update_user_profile_path, :remote => true) do |f| %>
    <br/>
        <table>
          <tr>
            <td>
              <% if current_user.profile.image? %>
              <%= image_tag(current_user.profile.image.url(:thumb)) %>
              <% else %>
              <%= image_tag("missing.png",height: 70,width: 80) %>
              <% end %>
            </td>
            <td><div class="aboutbutton"><a href="javascript:void(0)">About Us</a></div></td>
            <td>
              <div class="profile_text" style="display: block; color:white;">
                <%= @profile.about %>
              </div>
              <div class="profile_text2" style="display: none;">
                <%= f.text_area :about, :rows => 2, :cols => 50 %>
              </div>
            </td>
          </tr>
        </table>
    <br/>
    <div style="display: none;">
    <%=  f.submit "update Profile", :id=> "save" %>
    </div>

    <table>
      <tr>
        <td>
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Past</a></li>
              <li><a href="#tab2" data-toggle="tab">Present</a></li>
              <li><a href="#tab3" data-toggle="tab">Future</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">

                <% if @past!="" %>
                    <% @past.each do |past| %>
                        <p style="color:white;">
                        Title<br/>
                          <%=  past.title %><br/>
                          Description<br/>
                          <%=  past.description %><br/>
                          Start Date<br/>
                          <%=  past.start_date %><br/>
                          End Date<br/>
                          <%=  past.end_date %><br/>
                          Location<br/>
                          <%=  past.location %><br/>

                         <hr>
                          </p>
                    <% end %>
              <% end %>
              </div>
              <div class="tab-pane" id="tab2">
                <p>
                  <% if @current!="" %>
                    <p style="color:white;">
                        Title<br/>
                        <%=  @current.company_name %><br/>
                        Description<br/>
                        <%=  @current.location %><br/>
                        Start Date<br/>
                        <%=  @current.professional_headline %><br/>
                        Location<br/>
                        <%=  @current.role %><br/>

                        <hr>
                    .</p>
              <% end %>
              </div>
              <div class="tab-pane" id="tab3">
                <p>I'm in Future.</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>


<% end %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
   $('.aboutbutton').click(function(){

      $('.profile_text').css('display', 'none');
      $('.profile_text2').css('display', 'block');
   });
   </script>
<script>
    $(document).ready(function(){
        if("<%= @profile.about %>")
        {

           $(".profile_text").html("<%= @profile.about %>").show();
            $(".profile_text2").hide();
        }
        else
        {
            $(".profile_text2").show();
            $(".profile_text").hide();
        }

    });
</script>
<script>
    jQuery(function() {
        return $('.best_in_place').best_in_place();
    });
</script>
<script>
    $('#profile_about').blur(function() {
        $('#save').trigger('click');
    });
</script>

