<div class="goals_footer">
<%= image_tag("footer_goal.png") %>
</div>

<div class="goals">
	<div class="goal1">
		<div class="goal1_text">
		<p> Goal1 </p>
		</div>
		<div class="goal1_content">
		<p> Jan 05, 2014 </p>
		</div>
	</div>
	
	<div class="goal2">
	<div class="goal2_text">
	<p> Goal2 </p>
	</div>
	<div class="goal2_content">
	<p> Target Date </p>
	</div>
	</div>
	
	<div class="goal3">
	<div class="goal3_text">
	<p> Goal3 </p>
	</div>
	<div class="goal3_content">
	<p> Target Date </p>
	</div>
	</div>
	
	<div class="goal4">
	<div class="goal4_text">
	<p> Goal4 </p>
	</div>
	<div class="goal4_content">
	<p> Target Date </p>
	</div>
	</div>
	<div class="button">
	  <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
	</div>
	</div>
	</div>

<div class="steps">
		<div class="initiationdate">
		<div class="initiation_text">
		<p> Initation Date </p>
		</div>
		</div>
		<div class="step1">
		<div class="step1_text">
		<p> STEP 1 </p>
		</div>
		</div>
		<div class="milestone1">
		<div class="milestone1_text">
		<p> Milestone #1 </p>
		</div>
		</div>
		<div class="step2">
		<div class="step2_text">
		<p> STEP 2 </p>
		</div>
		</div>
		<div class="step3">
		<div class="step3_text">
		<p> STEP 3 </p>
		</div>
		</div>
		<div class="milestone2">
		<div class="milestone2_text">
		<p> Milestone #2 </p>
		</div>
		</div>
		<div class="step4">
		<div class="step4_text">
		<p> STEP 4 </p>
		</div>
		</div>
		<div class="milestone3">
		<div class="milestone3_text">
		<p> Milestone #3 </p>
		</div>
		</div>
		<div class="jan">
		<div class="jan_text">
		<p> Jan 05, 2014 </p>
		</div>
		</div>
		<div class="step5">
		<div class="step5_text">
		<p> New Step </p>
		</div>
		</div>
		<div class="milestone4">
		<div class="milestone4_text">
		<p> New Milestone </p>
		</div>
		</div>
</div>

<div class="usercomments">
		<div class="comments">
		<div class="img_text">
		<%= image_tag("Tagcopy.png") %>
		</div>
		<div class="comments_text">
		<p> Comments </p>
		</div>
		</div>
		<ul  class="user1">
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username1">
		<p> <b>@username</b> </p>
		</div>
		</li>
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username2">
		<p> <b>@username</b> </p>
		</div>
		</li>
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username3">
		<p> <b>@username</b> </p>
		</div>
		</li>
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username4">
		<p> <b>@username</b> </p>
		</div>
		</li>
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username5">
		<p> <b>@username</b> </p>
		</div>
		</li>
		<li>
		<%= image_tag("missing.png") %><br/><br/><br/>
		<div class="username6">
		<p> <b>@username</b> </p>
		</div>
		</li>
		</ul>
</div>
