%h3
  Update Account
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,class: 'form-horizontal'}) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :name
  = f.input :email
  = f.input :password,html: {autocomplete: 'off'},hint: "leave blank if you don't want to change it"
  = f.input :password_confirmation
  = f.input :current_password ,hint: "we need your current password to confirm your changes"
  .form-actions
    = f.button :submit, "Update",class: 'btn-info'
-#%h4 Cancel my account
-#%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
= link_to "Back", :back
