#background
  #main
    = image_tag("main.png")
  #bg
    = image_tag("bg.png")
  #Layer17copy
    = image_tag("Layer17copy.png")
  #Layer17copy2
    = image_tag("Layer17copy2.png")
  #Layer1939sDropShadow
    = image_tag("Layer1939sDropShadow.png")
  #Layer2
    = image_tag("Layer2.png")
  #Layer1
    = image_tag("Layer1.png")
  #Layer1939sDropShadow_0
    = image_tag("Layer1939sDropShadow_0.png")
  #Layer1copy
    = image_tag("Layer1copy.png")
    #sign_up_text
      %h3 Sign up
    .form_fields
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: 'form-horizontal' } ) do |f|
        -#= f.error_notification
        -#= display_base_errors resource
        = f.input :name, label: 'User Name'
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.input :roles, :collection => User::ROLES, :as => :check_boxes, :label => "I am", :item_wrapper_class => 'inline'
        .button
          = f.submit 'Sign up',id: 'save'
  #or
    %p or
  #Createaccountusingot
    %p Create account using other social account
#Layer5copy
  = link_to image_tag("twitterlogo.png", :size => "50x50"),omniauth_authorize_path(resource_name, "twitter")
  = link_to image_tag("linkedin.jpg"),omniauth_authorize_path(resource_name, "linkedin")
  %br/
  %br/
  = link_to image_tag("googleplus.jpg"),omniauth_authorize_path(resource_name, "google")
  = link_to image_tag("facebook.jpg"),omniauth_authorize_path(resource_name, "facebook")
