= simple_form_for([current_user,@professional_industry],html: {class: 'form-horizontal'}, :remote => true) do |f|
  .form-inputs
    = f.error_notification
    = f.input :company_name ,label: 'Company Name'
    = f.input :title
    = f.input :location
    = f.input :start_date, collection: Time.now.year - 10..Time.now.year + 10, prompt: "--"
    = f.input :end_date, collection: Time.now.year - 10..Time.now.year + 10, prompt: "--"

    = f.input :description,as: :text,hint: "Examples: Alpha Phi Omega, Chamber Chorale, Debate Team" ,
               input_html:{rows: 3 }
    = f.input :is_current, :as => :boolean

  .form-actions
    = f.button :submit ,button_name,class: 'btn-info'


