.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Lists
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Following
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Followers
  .tab-content
    #tab1.tab-pane.active
      - @users.in_groups_of(2, false) do |total_lists|
        %table{:width => "1500px"}
          %tr
            - for lists in total_lists
              %td{:width => "324px"}
                %table
                  %tr
                    -unless lists.profile.blank?
                      -unless lists.profile.image.url.blank?
                        %td= image_tag(lists.profile.image.url(:thumb),height: 60,width: 60, class: 'img-circle' )

                      -else
                        %td= image_tag("avatars/small/missing.png",height: 60,width: 60, class: 'img-circle')

                    -else
                      %td= ""
                      %td= image_tag("avatars/small/missing.png",height: 60,width: 60, class: 'img-circle')
                    %td
                      %p=lists.name
                      %p Followers #{@no_of_followers = User.no_of_users_followers(lists._id)} Following #{@no_of_following = User.no_of_users_following(lists._id)}
              %td
                %table
                  %tr
                    #{@follow = User.check_follow(@user,lists._id)}
                    -if @follow
                      %td= button_to "Following", {:controller => :users, :action => :follow, :id => lists._id}, :class => "btn"
                    -else
                      %td= button_to "Follow", {:controller => :users, :action => :follow, :id => lists._id}, :class => "btn"
                    -#%td= link_to "follow",:action => :follow, :id => lists._id


    #tab2.tab-pane
      - @following.in_groups_of(2, false) do |following|
        %table{:width => "1500px"}
          %tr
            - for following_data in following
              %td{:width => "324px"}
                %table
                  %tr
                    -unless following_data.profile.blank?
                      -unless following_data.profile.image.url.blank?
                        %td= image_tag(following_data.profile.image.url(:thumb), height: 60,width: 60, class: 'img-circle' )
                      -else
                        %td= image_tag("avatars/small/missing.png", height: 60,width: 60, class: 'img-circle')
                    -else
                      %td= ""
                      %td= image_tag("avatars/small/missing.png", height: 60,width: 60, class: 'img-circle')
                    %td
                      %p #{@profile_name = User.get_profile_name(following_data._id)}
                      %p Followers #{@no_of_followers = User.no_of_users_followers(following_data._id)} Following #{@no_of_following = User.no_of_users_following(following_data._id)}
              %td
                %table
                  %tr
                    %td= button_to "Un Follow", {:controller => :users, :action => :unfollow, :id => following_data._id}, :class => "btn"

    #tab3.tab-pane
      - @followers.in_groups_of(2, false) do |followers|
        %table{:width => "1500px"}
          %tr
            - for followers_data in followers
              %td{:width => "324px"}
                %table
                  %tr
                    -unless followers_data.profile.blank?
                      -unless followers_data.profile.image.url.blank?
                        %td= image_tag(followers_data.profile.image.url(:thumb),height: 60,width: 60, class: 'img-circle' )
                      -else
                        %td= image_tag("avatars/small/missing.png",height: 60,width: 60, class: 'img-circle')
              %td
                %table
                  %tr
                    %td= followers_data.name
