- activitys =[]
.container
  %table.main_table
    %tr
      %td
        %table
          %tr
            %td.box1
              %table.network
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = image_tag("icons/network.gif")
                        %td
                          .network_text Network
                  %td
                    %table.message
                      %tr
                        %td
                          = image_tag("icons/messages.gif")
                        %td
                          .network_text Messages
              %table
                %tr
                  %td.mentor_mentee_peer
                    %table
                      %tr
                        %td
                          %table.follow_and_followee
                            %tr
                              %td.mentor
                                .mentors Mentor4
                            %tr
                              %td.mentor
                                .mentee Mentee   5
                            %tr
                              %td
                                .peers Peers     2
                  %td
                    %table.message_updates
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %table.chat
                %tr
                  %td
                    %table.chat_logo
                      %tr
                        %td
                          = image_tag("icons/chat-updates.gif")
                        %td
                          .network_text Chat Updates
                  %td
                    %table.todolist
                      %tr
                        %td
                          = image_tag("icons/todolist.gif")
                        %td
                          .network_text To Do List
              %table
                %tr
                  %td
                    %table.chat_updates
                      %tr
                        %td Mentor1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %table
                %tr
                  %td
                    %table.todo_list_updates
                      %tr
                        %td 11:00 A.M-
                      %tr
                        %td Mentor1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
                      %tr
                        %td 11:00 A.M-
                      %tr
                        %td Mentee1 :
                      %tr
                        %td
                          .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
      %td.box2_td
        %table
          %tr
            %td.box2
              %table
                %tr
                  %td
                    .activity
                      .activity_logo
                        =image_tag("icons/activity.gif")
                        .activity_text Activity
                    .mentee_activites
                      %table
                        %tr
                          %td
                            = image_tag("missing.png")
                          %td{:valign => "top"}

                - @activities.each do |activity|
                  - activitys =  activity.attributes.reject {|k,v| k if k.start_with?('key','parameters','_id','updated_at','trackable_id', 'created_at', 'trackable_type')}
                  -activitys.each do |updated_field|
                  - user_image = User.where('profile._id' => activity.trackable_id).first
                    %table
                      %tr
                        %td.activity_users
                          = user_image.profile.first_name
                      %tr
                        %td.activity_users
                          = updated_field[0].gsub(/_/, ' ').capitalize + " " + "updated to" + " "+ updated_field[1]

                = link_to "more", show_all_users_path
  %table.table_footer
    %tr
      %td.footer_middle
  %table.main_table2
    %tr
      %td
        %table
          %tr
            %td.box3
              %table.network
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = image_tag("icons/newsfeeds.gif")
                        %td
                          .network_text News Feeds
              %table
                %tr
                  %td
                    .news_header Loren Ipsum Dolor Sit Amit Consectitue Elit
              %table
                %tr
                  %td
                    .news Loren ipsum dolor sit amit consectitue elit loren insum dolor sit amit consectitue elit
              %table.news_middle
                %tr
                  %td
                    = image_tag("pic.png")

              %table.news_footer
                %tr
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
      %td.box2_td
        %table
          %tr
            %td.box4
              %table.box_table4
                %tr
                  %td
                    -#= image_tag("image.png", :size => "70x80")
                    - if current_user.profile.image?
                      = image_tag(current_user.profile.image.url(:thumb))
                    - else
                      = image_tag("missing.png",height: 70,width: 80)
                  %td{:valign => "top"}
                    %table
                      %tr
                        %td.table4
                          Associations
                        %td.table4
                          Profile Views
                      %tr
                        %td.table4
                          %table
                            %tr
                              %td.associations
                                .assoc_number 3
                              %td.school_text Schools
                            %tr
                              %td.space2
                            %tr
                              %td.organization
                                .assoc_number 5
                              %td.school_text Organization
                            %tr
                              %td.space2
                            %tr
                              %td.company
                                .assoc_number 2
                              %td.school_text Companies
                        %td.table4
                          %table
                            %tr
                              %td.associations
                                .assoc_number 1
                              %td.school_text Today
                            %tr
                              %td.space2
                            %tr
                              %td.organization
                                .assoc_number 10
                              %td.school_text Past 3 months
                            %tr
                              %td.space2
                            %tr
                              %td.company
                                .assoc_number 73
                              %td.school_text Past 7 months
                %tr
                  %table
                    %tr
                      %td Latest Activity:
                    %tr
                      %td
                        -#= current_user.updated_at
                    %tr
                      %td Date Joined
                    %tr
                      %td
                        = current_user.created_at.strftime("%B %d, %Y")
                    %tr
                      %td About
                    %tr
                      %td
                        = current_user.profile.about
  %table.table_footer
    %tr
      %td.footer_middle

