.container
  .path_page
    .box1
      %table.network
        %tr
          %td
            %table
              %tr
                %td
                  = image_tag("icons/network.gif")
                %td
                  .network_text Network
          %td
            %table.message
              %tr
                %td
                  = image_tag("icons/messages.gif")
                %td
                  .network_text Messages
      %table
        %tr
          %td.mentor_mentee_peer
            %table
              %tr
                %td
                  %table.follow_and_followee
                    %tr
                      %td.mentor
                        .mentors Mentor4
                    %tr
                      %td.mentor
                        .mentee Mentee   5
                    %tr
                      %td
                        .peers Peers     2
          %td
            %table.message_updates
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
      %table.chat
        %tr
          %td
            %table.chat_logo
              %tr
                %td
                  = image_tag("icons/chat-updates.gif")
                %td
                  .network_text Chat Updates
          %td
            %table.todolist
              %tr
                %td
                  = image_tag("icons/todolist.gif")
                %td
                  .network_text To Do List
      %table
        %tr
          %td
            %table.chat_updates
              %tr
                %td Mentor1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
      %table
        %tr
          %td
            %table.todo_list_updates
              %tr
                %td 11:00 A.M-
              %tr
                %td Mentor1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
              %tr
                %td 11:00 A.M-
              %tr
                %td Mentee1 :
              %tr
                %td
                  .network_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
    .box2
      .activity
        .activity_logo
          =image_tag("icons/activity.gif")
          .activity_text Activity
      .mentee_activites
        %table
          %tr
            %td
              = image_tag("missing.png")
            %td{:valign => "top"}
              %table
                %tr
                  %td.activity_users @Username
                %tr
                  %td.activity_users Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                %tr
                  %td
                    %table
                      %tr
                        %td.time_ago 1 hour ago
                        %td.comment comment
                        %td.share share
        %hr
        %table
          %tr
            %td
              = image_tag("missing.png")
            %td{:valign => "top"}
              %table
                %tr
                  %td.activity_users @Username
                %tr
                  %td.activity_users Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                %tr
                  %td
                    %table
                      %tr
                        %td.time_ago 1 hour ago
                        %td.comment comment
                        %td.share share
        %hr
        %table
          %tr
            %td
              = image_tag("missing.png")
            %td{:valign => "top"}
              %table
                %tr
                  %td.activity_users @Username
                %tr
                  %td.activity_users Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                %tr
                  %td
                    %table
                      %tr
                        %td.time_ago 1 hour ago
                        %td.comment comment
                        %td.share share
        %hr


    .box3
    .box4
    .footer_middle
      = image_tag("footer_goal.png")
    .footer_middle1
      = image_tag("footer_goal.png")