#background
  #main
    = image_tag("main.png")
  #bg
    = image_tag("bg.png")
  #Layer17copy
    = image_tag("Layer17copy.png")
  #Layer17copy2
    = image_tag("Layer17copy2.png")
  #Layer1939sDropShadow
    = image_tag("Layer1939sDropShadow.png")
  #Layer2
    = image_tag("Layer2.png")
  #Layer1
    = image_tag("Layer1.png")
  #Layer1939sDropShadow_0
    = image_tag("Layer1939sDropShadow_0.png")
  #Layer1copy
    = image_tag("Layer1copy.png")
    #sign_up_text
    .form_fields
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: 'form-horizontal' }) do |f|
        -#= f.error_notification
        -#= display_base_errors resource
        = f.input :email
        = f.input :password
        .button
          = f.submit 'Create Account',id: 'save'
          = f.submit 'Login in',id: 'login'
  #or_sign_in
    %p A Professional Development Website For
    .sign_break_text Professional To Mentor Younger Professional.
  -##Layer5copy_sign_in
  -#= link_to image_tag("twitterlogo.png", :size => "50x50"),omniauth_authorize_path(resource_name, "twitter")
  -#= link_to image_tag("linkedin.jpg"),omniauth_authorize_path(resource_name, "linkedin")
  -#%br/
  -#%br/
  -#= link_to image_tag("googleplus.jpg"),omniauth_authorize_path(resource_name, "google")
  -#= link_to image_tag("facebook.jpg"),omniauth_authorize_path(resource_name, "facebook")
