!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ADDAMENT"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")
    -#= favicon_link_tag 'favicon.ico', :rel =>'icon', :type => 'image/ico'
    = favicon_link_tag 'favicon.ico', :rel =>'shortcut icon', :type => 'image/ico'


  %body
    %table.header
      %tr
        %td
          .container
            =image_tag("logo.png", :class => "logo2")
            .menu_bar
              %ul
                %li
                  %a{:href => "/my_account"} HOME
                %li
                  = link_to "PROFILE", about_user_profile_path(current_user)
                %li
                  %a{:href => "#contact"} MESSAGES
                %li
                  %a{:href => "#contact"} NETWORK
                %li
                  %a{:href => "#contact"} PATH
            %table
              %tr
                %td
                  .search_box
                    .input-append
                      %input.span2{:type => "text", :placeholder => "search.."}
                      %button.btn{:type => "button"}
                        %i.icon-search
                %td
                  .profile_pic
                    - if current_user.profile.image?
                      = image_tag(current_user.profile.image.url(:small),height: 25,width: 25)
                    - else
                      = image_tag("missing.png",height: 25,width: 25)
                %td
                  .names
                    %p
                    = current_user.profile.try(:name).present? ? current_user.profile.name : current_user.name
                %td
                  .settings
                    = link_to image_tag("settings.png"), edit_user_profile_path(current_user)
                %td
                  .sign_out
                    = link_to image_tag("signout.png"),destroy_user_session_path, :method=>'delete'
        -#%table
        -#  %tr
        -#    %td
        -#      .search_box
        -#        .input-append
        -#          %input.span2{:type => "text", :placeholder => "search.."}
        -#          %button.btn{:type => "button"}
        -#            %i.icon-search
        -#    %td
        -#      .profile_pic
        -#        - if current_user.profile.image?
        -#          = image_tag(current_user.profile.image.url(:small),height: 25,width: 25)
        -#        - else
        -#          = image_tag("missing.png",height: 25,width: 25)
        -#    %td
        -#      .names
        -#        %p
        -#        = current_user.profile.try(:name).present? ? current_user.profile.name : current_user.name
        -#    %td
        -#      .settings
        -#        = link_to image_tag("settings.png"), edit_user_profile_path(current_user)
        -#    %td
        -#      .sign_out
        -#        = link_to image_tag("signout.png"),destroy_user_session_path, :method=>'delete'
    = yield
    .footer_container
      %table.footer_table
        %tr
          %td.footer1
            %table.footer



    -#.container
    -#  / Main hero unit for a primary marketing message or call to action
    -#  .row
    -#    - if defined?(@no_sidebar)
    -#      = render 'shared/left_sidebar'
    -#      #content.span9
    -#        = yield
    -#    - else
    -#      #content.span12
    -#        = bootstrap_flash
    -#        = yield

      -#%hr/
      -#%footer
      -#  %p
      -#    %a{href: "http://www.maisasolutions.com" ,target: '_blank'}> Maisa Solutions
      -#    \ &copy; Company 2012
    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"